include ../mixins/sprite.jade

html(lang="en")

    - var SiteName = site.name
    - var Keywords = site.keywords
    - var Description = site.description
    - var ogImg = site.ogImg
    - var Viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    - var thisPage = ""
    - var isShareable = true
    block vars
        - var bodyClass = 'border-box micro-site post news-post-bigheader'
        - var pageClass = ''
        - var Title = site.name + ' - ' + site.title
        - var Url = site.url
    head

        block title
            title= Title

        block meta
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="description", content="#{Description}")
            meta(name="keywords", content="#{Keywords}")
            meta(name="viewport", content="#{Viewport}")
            meta(name="robots", content="index, follow")

            // FB SHARE
            meta(property="og:site", content="#{SiteName}")
            meta(property="og:type", content="website")
            meta(property="og:url", content="#{Url}")
            meta(property="og:title", content="#{Title}")
            meta(property="og:image", content="#{ogImg}")
            meta(property="og:description", content="#{Description}")

            // TW SHARE
            meta(name="twitter:card", content="summary")
            meta(name="twitter:site", content="@maplestory")
            meta(name="twitter:title", content="Web Event: Share V News &amp; Update to Earn Free Prizes | V Update | Official MapleStory Website")
            meta(name="twitter:description", content="Power up for V by sharing and earning prizes!")
            meta(name="twitter:image", content="http://nxcache.nexon.net/umbraco/8263/sha_tw_512x512er6mnb.jpg")
            meta(name="twitter:url", content="http://maplestory.nexon.net/micro-site/v-update/17909/web-event-share-v-news-update-to-earn-free-prizes")

        block metaLinks
            link(rel='shortcut icon', href='#{site.favicon}')
            link(rel='canonical', href='#{Url}')

        block robotLinks

        block css
            <link rel="stylesheet" type="text/css" href="http://nxcache.nexon.net/all/v1.5.2/css/all.css" />
            <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i" rel="stylesheet">
            <link href="font-icons/style.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://nxcache.nexon.net/library/animations/css/animations.min.css" />
            link(href='css/all.css', rel='stylesheet')


    script.
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-50808751-1', 'auto');
        ga('send', 'pageview');



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js', type='text/javascript')

    body(class="#{bodyClass}")

        block page
            block main
        block js
            script(type='text/javascript', src='http://nxcache.nexon.net/all/v1.5.2/js/all.min.js')

        block bottom
            // build:js js/app.js
            script(type='text/javascript' src='js/modules/mod.redirect.js')
            script(type='text/javascript' src='js/modules/mod.lightbox.js')
            script(type='text/javascript' src='js/modules/mod.modernizr.js')
            script(type='text/javascript' src='js/modules/mod.responsive.font.js')
            script(type='text/javascript' src='js/modules/event.js')
            script(type='text/javascript' src='js/modules/google-analytics-tracking.js')
            script(type='text/javascript' src='js/modules/share.js')
            script(type='text/javascript' src='js/modules/mod.redirect.js')
            script(type='text/javascript' src='js/modules/mod.nav.js')
            script(type='text/javascript' src="js/modules/mod.animations.js")
            script(type='text/javascript' src="js/modules/mod.initialize.js")
            script(type='text/javascript' src='js/modules/main.js')
            // endbuild

